<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>

  <div class="container" >
    <div id="narrow" ng-controller='NarrowItDownController as narrow'>
        <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
        <input class="form-control" type="text" ng-model="narrow.searchTerm" placeholder="search term">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="narrow.narrowItDown();">Narrow it down for me!</button>
    </div>

        <found-items
          my-list="narrow"
          title="{{narrow.title}}"
          on-remove="narrow.removeItem(index)">
        </found-items>
  
      </div>
    </div>

   <!-- <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary">Narrow It Down For Me!</button>
    </div>

    <found-items found-items="...." on-remove="...."></found-items>
  </div> -->

</body>
</html>
